/**
 * Site header
 */
.site-header {
    min-height: 56px;
    background: var(--background-color);

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 30px;
    font-weight: bold;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: #fff;
    }

    &:hover {
        color: #fff;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #fff;
        line-height: var(--base-line-height);

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: var(--reversed-background-color);
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color: #000;
        }
    }
}

/**
 * Page content
 */
.page-content {
    padding: var(--spacing-unit) 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: calc(var(--spacing-unit) / 3);
        @extend %clearfix;
    }
}

.post-meta {
    font-size: var(--very-small-font-size);
    @include media-query($on-palm) {
        font-size: var(--small-font-size-on-palm);
    }
}

.post-link {
    font-size: var(--base-font-size);
    margin-right: 10px;

    @include media-query($on-palm) {
        font-size: var(--base-font-size-on-palm);
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: var(--spacing-unit);
}

.post-title {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1.4;
    border: none;
    margin-bottom: calc(var(--spacing-unit) / 3);

    @include media-query($on-laptop) {
        font-size: 30px;
    }

    @include media-query($on-palm) {
        font-size: 24px;
    }
}

.post-content {
    margin-bottom: var(--spacing-unit);

    h1 {
        font-size: 24px;
        margin-top: calc(var(--spacing-unit) * 1.5);
        border-bottom: 1px solid var(--text-color);

        @include media-query($on-laptop) {
            font-size: 24px;
            margin-top: var(--spacing-unit);
        }
        @include media-query($on-palm) {
            font-size: 20px;
            margin-top: var(--spacing-unit);
        }
    }

    h2 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 20px;
        }
        @include media-query($on-palm) {
            font-size: 18px;
        }
    }

    h3 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
        @include media-query($on-palm) {
            font-size: 16px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    hr {
        margin: 15px 0px;
    }
}

.post-footer {
    padding-top: 10px;

    .previous {
        float: left;
    }

    .next {
        float: right;
    }
}

.twitter-tweet {
    margin: auto;
}
