---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} | {{ page.author }}{% endif %}{% if page.meta %} | {{ page.meta }}{% endif %} | {% for tag in page.tags %}<a href="/tag/{{ tag }}">#{{ tag }}</a> {% endfor %}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div>

    <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://nhiroki.jp{{ page.url }}" data-dnt="true">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

  </div>

  <footer class="post-footer">
    {% if page.previous %}<a class='previous' href="{{ page.previous.url }}">« 前の記事</a>{% endif %}
    {% if page.next %}<a class='next' href="{{ page.next.url }}">次の記事 »</a>{% endif %}
  </footer>

</div>
