---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%Y-%m-%d" }}{% if page.author %} | {{ page.author }}{% endif %}{% if page.meta %} | {{ page.meta }}{% endif %} {% for tag in page.tags %}<a href="/tag/{{ tag }}">#{{ tag }}</a> {% endfor %}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer class="post-footer">
    {% if page.previous %}<a class='previous' href="{{ page.previous.url }}">« 前の記事</a>{% endif %}
    {% if page.next %}<a class='next' href="{{ page.next.url }}">次の記事 »</a>{% endif %}
  </footer>

</div>
